<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="./css/area.css">
    <style>
        ::-webkit-scrollbar{
            display: none;
        }
        iframe{
            border: 0;
            width: 100%;
            height: 100%;
        }
    </style>

</head>
<body>

<div class="container">
    <!-- arrow svg -->
   <a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.854 1.646a.5.5 0 0 1 0 .708L5.207 8.5l6.647 6.646a.5.5 0 0 1-.708.708l-7-7a.5.5 0 0 1 0-.708l7-7a.5.5 0 0 1 .708 0z"/>
    </svg> Go Back </a>
    <h1 class="title">Parking Area :[<span id="city"></span>]</h1>
    <h6> Showing Parking Areas Near You</h6>
    <div class="row">
        <div class="col" id="iframe">
            <!-- embeed google map here using iframe  -->

        </div>
        <div class="col" id="parking">
            
        </div>
</div>
    
<script>
     
    let areas = {
    "vadodara":
    [
    {
    "name": "Kashipatel Wati, Siyabaug Char Rasta, Near Polo Ground, Raopura Vadodara",
    "type": "Free",
    "opening_time": "09:00 - 20:00",
    "iframe" :"https://maps.google.com/?daddr=22.295607,73.197839",
    "id": "m1"
    },
    {
    "name": "Jawaharlal Nehru Marg, Jambubet Vadodara",
    "type": "Free",
    "opening_time": "Mon-Sun 10:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=22.301022,73.195144",
    "id": "m2"
    },
    {
    "name": "Kuber Bhavan, Kothi Vadodara",
    "type": "Free",
    "opening_time": "Mon-Sun 10:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=22.302573,73.195068",
    "id": "m3"
    }, {
    "name": "Shidhnath Road, Khanderao Market, Kevdabaug Vadodara",
    "type": "Free",
    "opening_time": "Mon-Sun 10:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=22.297157,73.201201",
    "id": "m4"
    },
    {
    "name": "Palace Road, Race Course Vadodara",
    "type": "Free",
    "opening_time": "Mon-Sun 10:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=22.297564,73.202299",
    "id": "m5"
    },
    {
    "name": "16, Akota Rd, Purushottam Nagar, Haripura, Alkapuri Vadodara",
    "type": "Free",
    "opening_time": "Mon-Sun 10:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=22.306601,73.179713",
    "id": "m6"
    },
    {
    "name": "Manjalpur Road, Lalbaug, Manjalpur Vadodara",
    "type": "Free",
    "opening_time": "Mon-Sun 10:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=22.280491,73.196917",
    "id": "m7"
    }
    ],


    "surat":
    [{
    "name": "Atwagate, Chowpatty Surat",
    "type": "Free",
    "opening_time": "Mon-Sun 07:00 - 23:00",
    "iframe" :"https://maps.google.com/?daddr=21.18381,72.809035",
    "id": "m1"
    },
    {
    "name": "R.k Desai Marg, Atwalines Surat",
    "type": "Free",
    "opening_time": "Mon-Sun 07:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=21.182995,72.808905",
    "id": "m2"
    },
    {
    "name": "Navdi Bandar Road, Nanpura Surat",
    "type": "Free",
    "opening_time": "Mon-Sun 10:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=21.188299,72.811392",
    "id": "m3"
    }, {
    "name": "Lal Bunglow, Atwalines Surat",
    "type": "Free",
    "opening_time": "Mon-Sun 10:00 - 22:00",
    "iframe" :"https://maps.google.com/?daddr=21.182488,72.804822",
    "id": "m4"
    },
    {
    "name": "Near Gas Circle, Adajan Surat",
    "type": "Flat Rate ₹20.00",
    "opening_time": "Mon-Sun 09:00 - 23:00",
    "iframe" :"https://maps.google.com/?daddr=21.193607,72.801529",
    "id": "m5"
    }
    ],


    "ahmedabad":
    [{
    "name": "Pancha Pakhadi City Civil Court, Lal Darwaja Ahmedabad",
    "type": "Free",
    "opening_time": "Mon-Sun 08:30 - 18:30",
    "iframe" :"https://maps.google.com/?daddr=23.023622,72.580102",
    "id": "m1"
    },
    {
    "name": "Hotel Surana Palace Jilla Panchayat, Lal Darwaja Ahmedabad",
    "type": "Free",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=23.024703,72.579823",
    "id": "m2"
    },
    {
    "name": "The Emperor Building Sbi Building, Lal Darwaja Ahmedabad",
    "type": "Free",
    "opening_time": "Mon-Sun 08:30 - 19:00",
    "iframe" :"https://maps.google.com/?daddr=23.02492,72.579622",
    "id": "m3"  
    }, 
    {
    "name": "Bank Of India, Bhadra Market Ahmedabad",
    "type": "Free",
    "opening_time": "Mon-Sun 09:00 - 20:00",
    "iframe" :"https://maps.google.com/?daddr=23.023946,72.58261",
    "id": "m4"
    },
    {
    "name": "Bhadra Market, Lal Darwaja Ahmedabad",
    "type": "Free",
    "opening_time": "Mon-Sun 09:00 - 20:00",
    "iframe" :"https://maps.google.com/?daddr=23.02412,72.58261",
    "id": "m5"
    },
    {
        "name" : "Mahatma Gandhi Road Bahumali Building, Lal Darwaja Ahmedabad",
        "type" : "Free",
        "opening_time" : "Mon-Sun 09:00 - 20:00",
        "iframe" : "https://maps.google.com/?daddr=23.025457,72.58023",
        "id" : "m6"
    },
    {
        "name" : "It Business Complex Amc Office, Mandvi Ni Pole, Khadia Ahmedabad",
        "type" : "Free",
        "opening_time" : "Mon-Sun 09:00 - 20:00",
        "iframe" : "https://maps.google.com/?daddr=23.02063,72.585498",
        "id" : "m7"
    }
    ],


    "rajkot":
    [{
    "name": "Airports Authority of India Rajkot AirportAirport Main Rd 360006 Rajkot",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=22.308265,70.782142",
    "id": "m1"
    },
    {
    "name": "Rajkot Municipal Corporation, Rajkot",
    "type": "Free",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=22.3039,70.8022",
    "id": "m2"
    }
    ],

    "bengaluru":
    [{
    "name": "Kempegowda International Airport, Bengaluru",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=13.1979,77.7063",
    "id": "m1"
    },
    {
    "name": "Bengaluru International Airport, Bengaluru",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=13.1979,77.7063",
    "id": "m2"
    }
    ],

    "chennai":
    [{
    "name": "Chennai International Airport, Chennai",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=13.1979,77.7063",
    "id": "m1"
    },
    {
    "name": "Raja Muthiah Road, Periyamet Chennai",
    "type": "Free",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=13.083034,80.270693",
    "id": "m2"
    },
    {
    "name": "Murugappan Street Murugappan Street, Waltax Road",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=13.091444,80.275451",
    "id": "m3"
    },
    {
    "name": "City Centre Complex",
    "type": "Free",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=13.067562,80.271796",
    "id": "m4"
    },
    {
    "name": "Alsa Mall, Montieth Road, Egmore",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=13.068841,80.257397",
    "id": "m5"
    }
    ],

    "kolkata":
    [{
    "name": "Netaji Subhash Chandra Bose International Airport, Kolkata",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=22.6547,88.4468",
    "id": "m1"
    },
    {
    "name": "Kolkata International Airport, Kolkata",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=22.6547,88.4468",
    "id": "m2"
    },
    {
    "name": "Kolkata Airport, Kolkata",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=22.6547,88.4468",
    "id": "m3"
    },
    {
    "name": "Kolkata Airport, Kolkata",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=22.6547,88.4468",
    "id": "m4"
    },
    {
    "name": "Kolkata Airport, Kolkata",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=22.6547,88.4468",
    "id": "m5"
    }
],


    "mumbai":
    [{
    "name": "Chhatrapati Shivaji International Airport, Mumbai",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=19.0896,72.8650",
    "id": "m1"
    },
    {
    "name": "Mumbai International Airport, Mumbai",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=19.0896,72.8650",
    "id": "m2"
    },
    {
    "name": "Mumbai Airport, Mumbai",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=19.0896,72.8650",
    "id": "m3"
    },
    {
    "name": "Mumbai Airport, Mumbai",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=19.0896,72.8650",
    "id": "m4"
    },
    {
    "name": "Mumbai Airport, Mumbai",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=19.0896,72.8650",
    "id": "m5"
    }
    ],

    "delhi":
    [{
    "name": "Indira Gandhi International Airport, Delhi",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
    "id": "m1"
    },
    {
    "name": "New Delhi International Airport, Delhi",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
    "id": "m2"
    },
    {
    "name": "New Delhi Airport, Delhi",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
    "id": "m3"
    },
    {
    "name": "New Delhi Airport, Delhi",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
    "id": "m4"
    },
    {
    "name": "New Delhi Airport, Delhi",
    "type": "Paid",
    "opening_time": "Mon-Sun 09:00 - 18:00",
    "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
    "id": "m5"
    }
    ],

    "jaipur":
    [{
        "name": "Indira Gandhi International Airport, Delhi",
        "type": "Paid",
        "opening_time": "Mon-Sun 09:00 - 18:00",
        "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
        "id": "m1"
        },
        {
        "name": "New Delhi International Airport, Delhi",
        "type": "Paid",
        "opening_time": "Mon-Sun 09:00 - 18:00",
        "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
        "id": "m2"
        },
        {
        "name": "New Delhi Airport, Delhi",
        "type": "Paid",
        "opening_time": "Mon-Sun 09:00 - 18:00",
        "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
        "id": "m3"
        },
        {
        "name": "New Delhi Airport, Delhi",
        "type": "Paid",
        "opening_time": "Mon-Sun 09:00 - 18:00",
        "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
        "id": "m4"
        },
        {
        "name": "New Delhi Airport, Delhi",
        "type": "Paid",
        "opening_time": "Mon-Sun 09:00 - 18:00",
        "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
        "id": "m5"
        }
        ],

        "indore": 
        [{
            "name": "Indira Gandhi International Airport, Delhi",
            "type": "Paid",
            "opening_time": "Mon-Sun 09:00 - 18:00",
            "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
            "id": "m1"
            },
            {
            "name": "New Delhi International Airport, Delhi",
            "type": "Paid",
            "opening_time": "Mon-Sun 09:00 - 18:00",
            "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
            "id": "m2"
            },
            {
            "name": "New Delhi Airport, Delhi",
            "type": "Paid",
            "opening_time": "Mon-Sun 09:00 - 18:00",
            "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
            "id": "m3"
            },
            {
            "name": "New Delhi Airport, Delhi",
            "type": "Paid",
            "opening_time": "Mon-Sun 09:00 - 18:00",
            "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
            "id": "m4"
            },
            {
            "name": "New Delhi Airport, Delhi",
            "type": "Paid",
            "opening_time": "Mon-Sun 09:00 - 18:00",
            "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
            "id": "m5"
            }
            ],


            "Hyderbad" : 
            [{
                "name": "Indira Gandhi International Airport, Delhi",
                "type": "Paid",
                "opening_time": "Mon-Sun 09:00 - 18:00",
                "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
                "id": "m1"
                },
                {
                "name": "New Delhi International Airport, Delhi",
                "type": "Paid",
                "opening_time": "Mon-Sun 09:00 - 18:00",
                "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
                "id": "m2"
                },
                {
                "name": "New Delhi Airport, Delhi",
                "type": "Paid",
                "opening_time": "Mon-Sun 09:00 - 18:00",
                "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
                "id": "m3"
                },
                {
                "name": "New Delhi Airport, Delhi",
                "type": "Paid",
                "opening_time": "Mon-Sun 09:00 - 18:00",
                "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
                "id": "m4"
                },
                {
                "name": "New Delhi Airport, Delhi",
                "type": "Paid",
                "opening_time": "Mon-Sun 09:00 - 18:00",
                "iframe" :"https://maps.google.com/?daddr=28.5665,77.1031",
                "id": "m5"
                }
                ]
                
    }
      
  

    

    console.log(areas);
   

    let maps = [{
        vadodara : '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d236213.50206139247!2d73.03299496015029!3d22.322042475717122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fc8ab91a3ddab%3A0xac39d3bfe1473fb8!2sVadodara%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1668197514122!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>',
        surat : '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d238133.1523816246!2d72.68221020433099!3d21.15914250210564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04e59411d1563%3A0xfe4558290938b042!2sSurat%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1668202841558!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>',
        ahmedabad : '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.16061445215!2d72.29952882143809!3d23.01999678101083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1668197551887!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>',
    }]
    url = window.location.href;
    let query = url.split('?')[1].split('=')[1];
    query = query.toLowerCase();

    document.getElementById('city').innerText = query.toUpperCase();
   
    let map = maps[0][query];
    document.getElementById('iframe').innerHTML = map;

    let data = areas[query];
    data.forEach(element => {
        let content = `
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <p id="parkingName" class="fw-bold">${element.name}</p>
                </h5>
                <p class="card-text">
                    <p id="parkingType" class="badge text-bg-success">Type: ${element.type}</p>
                </p>
                <p class="card-text">
                    <p id="opening_time">Time: <em class="muted">${element.opening_time}</em></p>
                </p>
                <button data-map="${element.iframe}&output=embed" target="blank" class="btn btn-primary" id="${element.id}" onclick="getMap(this.id)">Open Map</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
             Pay Now
                </button>
            </div>
        `
        document.getElementById('parking').innerHTML += content;

    });

let getMap = (id)=> {
    let map = document.getElementById(id).getAttribute('data-map');
    console.log(map);
    document.getElementById('iframe').innerHTML = `<iframe src="${map}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>`;
}

</script>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 " id="exampleModalLabel">Pay Here </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <iframe src="https://pages.razorpay.com/where-to-park" seamless="seamless" style="overflow:scroll; height:fit-content;" frameborder="0" scroll="no" ></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="/success"><button type="button" class="btn btn-primary">  Done</button></a>
        </div>
      </div>
    </div>

  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


<form class="invisible">
    <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Kx2p2gyDsFpfSS" async> </script>
</form>
<script>
    
</script>


</body>
</html>