<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Your Slot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<<<<<<< HEAD
    <style> 
        input { 
            margin-block:1rem; 
=======
    
    <style>
        input{
            margin-block:1rem;
>>>>>>> a9d5fe4af8b022a2f0d00bf08d5fed0184163042
        }
    </style>
</head>
<body>

    <div class="container">
        <br><br>
        <h1 class="text-center">Book your slot</h1>
        <form action="/pay" method="post">
            <div class="form-group">
                <input type="text" placeholder="Name" name="name" required class="form-control">
            </div>
            <div class="form-group">
                <input type="email" placeholder="Email" name="email" required class="form-control">
            </div>
            <div class="form-group">
                <input type="number" placeholder="Amount" name="Amount" required class="form-control">
            </div>
            <div class="form-group">
            <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Kx2p2gyDsFpfSS" async> </script>
                <!-- <button class="btn btn-danger btn-block">
                    Generate payment link
                </button> -->
            </div>
        </form>
    </div>
</body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>