<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Your Slot</title>
</head>
<body>
    <div class="container">
        <br><br>
        <h1 class="text-center">Book your slot</h1>
        <form action="/pay" method="post">
            <div class="form-group">
                <input type="text" placeholder="Name" name="name" required class="form-control">
            </div>
            <div class="form-group">
                <input type="email" placeholder="Email" name="email" required class="form-control">
            </div>
            <div class="form-group">
                <input type="number" placeholder="Amount" name="Amount" required class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-danger btn-block">
                    Generate payment link
                </button>
            </div>
        </form>
    </div>
</body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>